.text{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.h1 {
    left: calc(50% - 180px/2 - 0.5px);
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 22px;
    text-align: center;
    color: #3A3326;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}
.h5 {
    left: calc(50% - 290px/2);
    margin: 20px;
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 34px;
    text-align: center;
    color: #3A3326;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.html-Bpo{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.auto-group-qevz-p75 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Noto Serif KR';
    }
  
.upload_form{
    background-color: #e8e5df;
    border: solid 0.1rem #3a3a3a;
    box-sizing: border-box;
    margin-bottom: 120px;
    margin-top: 100px;
    align-items: center;
    width: 730px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 5px;
    }
.upload_photoform {
    align-items: center;
    background-color: #e8e5df;
    color: #3a3a3a;
    display: flex;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.435;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    }
.text1 {
    color: #393326;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.435;
    margin-bottom: 2.4rem;
    text-align: center;
    white-space: nowrap;
}

.text_oil_dry_balance{
    color: #537aa5;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 2.0rem;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 0px;
}

/* 라디오 set 시작 */
.radio-container {
    display: flex;
}
    
.label_content1 .radio-content {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.radio_btn_content1{
    margin-right: 20px;
}

.text_content1{
    font-size: 2.0rem;
}

.text_content2{
    font-size: 2.0rem;
}

.label_content2 .radio-content {
    display: flex;
    align-items: center;
    }

.radio_btn_content2{
    margin-right: 20px;
}

.text_content1, .text_content2 {
    margin-left: 5px;
} 
input[type="radio"] {
    transform: scale(2.0); /* 크기 조정 비율 */
}
/* 라디오 set 끝 */
       
.text_sensitivity{
    color: #7E7F83;
    font-family: 'Noto Serif KR';
    font-size: 2.0rem;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 0px;
}

.text_melanin{
    color: #288E9A;
    font-family: 'Noto Serif KR';
    font-size: 2.0rem;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 0px;
}



.text_tension{
    color: #515FA8;
    font-family: 'Noto Serif KR';
    font-size: 2.0rem;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 0px;
}

/* 분석시작 버튼 */
.group-166-sJB {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
}
.auto-group-7cku-2Ry {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 3.373rem;
    width: 100%;
}

.group-133-NVq {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 5.5rem;
}

.about-JeP {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'PT Serif';
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.325;
    margin-bottom: 0.1rem;
    white-space: nowrap;
}
.ai--Czf {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.435;
    max-width: 93.9rem;
}
    
.group-135-Mm5 {
    flex-shrink: 0;
    margin-bottom: 4.9rem;
    width: 17rem;
}
.connect-with-us-KC7 {
    color: #3a3a3a;
    font-family: 'PT Serif';
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.325;
    margin-bottom: 0.6rem;
    white-space: nowrap;
}
.auto-group-azzm-f15 {
    align-items: center;
    display: flex;
    height: 5.027rem;
    margin-right: 5.1001rem;
    width: calc(100% - 5.1001rem);
}

.group-68-zp3 {
    background-color: #3a3a3a;
    border-radius: 0.8108rem;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 100%;
    margin-right: 1.846rem;
    padding: 1.46rem 1.405rem 1.405rem 1.459rem;
}
.fi-instagram-iEF {
    height: 2.1622rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.1622rem;
}
        
.group-69-PLP {
    flex-shrink: 0;
    height: 5.027rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.027rem;
}

.group-134-XhV {
    align-items: flex-end;
    display: flex;
    flex-shrink: 0;
    height: 5.3rem;
}
.auto-group-fu2x-HAs {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    margin-right: 10.1rem;
}

.navigations-2u9 {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'PT Serif';
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.325;
    margin-bottom: 0.1rem;
    white-space: nowrap;
}
.face-manager--8BV {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.435;
    white-space: nowrap;
}
        
.face-detect-Shy {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.435;
    margin-right: 11.3rem;
    white-space: nowrap;
}
.pricing-wud {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.435;
    margin-right: 11.4rem;
    white-space: nowrap;
}
.q-a-tZy {
    color: #3a3a3a;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.435;
    white-space: nowrap;
}

.line-26-bjH {
    background-color: #3a3a3a;
    flex-shrink: 0;
    height: 0.1rem;
    margin-bottom: 3.3rem;
    width: 100%;
}
.copyright-kt-aivle-school-team-07-all-right-reserved-MCf {
    align-items: baseline;
    color: #3a3a3a;
    display: flex;
    flex-shrink: 0;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4370000203;
    margin-right: 0.1rem;
    white-space: nowrap;
}

.copyright-kt-aivle-school-team-07-all-right-reserved-MCf-sub-0 {
    color: #3a3a3a;
    font-family: 'PT Serif';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4370000203;
}
.copyright-kt-aivle-school-team-07-all-right-reserved-MCf-sub-1 {
    color: #3a3a3a;
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4370000203;
}

.rectangle-2163-tVR {
    background-color: #d9d9d9;
    flex-shrink: 0;
    height: 3.4rem;
    margin: 0rem 42.1rem 0rem 43.2rem;
    width: calc(100% - 85.3rem);
}