.html-Z8F {
    align-items: center;
    background-color: #e8e5df;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .group-139-LoD {
      background-color: #e8e5df;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 6rem;
      margin-bottom: 5.9rem;
      padding: 1.3rem 25rem 1.2rem 25rem;
      width: 100%;
  
      .group-137-oaK {
        align-items: center;
        display: flex;
        height: 100%;
        width: 100%;
  
        .face-manager--9PH {
          color: #3a3a3a;
          flex-shrink: 0;
          font-family: PT Serif, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 700;
          line-height: 1.325;
          margin-right: 18.4rem;
          white-space: nowrap;
        }
        .face-detect-pVR {
          color: #3a3a3a;
          flex-shrink: 0;
          font-family: PT Serif, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.325;
          margin: 0rem 9.3rem 0.1rem 0rem;
          white-space: nowrap;
        }
        .pricing-w4F {
          color: #3a3a3a;
          flex-shrink: 0;
          font-family: PT Serif, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.325;
          margin: 0rem 8.3rem 0.1rem 0rem;
          white-space: nowrap;
        }
        .qa-rwu {
          color: #3a3a3a;
          flex-shrink: 0;
          font-family: PT Serif, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.325;
          margin: 0rem 8rem 0.1rem 0rem;
          white-space: nowrap;
        }
        .group-92-NvF {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: calc(100% - 1.1rem);
          margin: 0.5rem 0rem 0.6rem 0rem;
  
          .login-hxX {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: PT Serif, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.325;
            margin-right: 3.6rem;
            white-space: nowrap;
          }
          .join-r4j {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: PT Serif, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.325;
            white-space: nowrap;
          }
        }
      }
    }
    .makeup-method-NYs {
      color: #3a3a3a;
      flex-shrink: 0;
      font-family: Noto Serif KR, 'Source Sans Pro';
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.4369999568;
      max-width: 49.2rem;
      text-align: center;
  
      .makeup-method-NYs-sub-0 {
        color: #3a3a3a;
        font-family: Noto Serif KR, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.435;
      }
      .makeup-method-NYs-sub-1 {
        color: #3a3a3a;
        font-family: PT Serif, 'Source Sans Pro';
        font-size: 5.3rem;
        font-weight: 700;
        line-height: 1.325;
      }
    }
    .auto-group-pvnk-MBq {
      flex-shrink: 0;
      height: 268.7rem;
      position: relative;
      width: 100%;
  
      .ma-propre-faon-de-me-maquiller--sfy {
        color: #000000;
        font-family: Readex Pro, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        height: 17.1rem;
        left: 58.3rem;
        line-height: 1.25;
        position: absolute;
        top: 55.6rem;
        width: 26.7rem;
  
        .ma-propre-faon-de-me-maquiller--sfy-sub-0 {
          color: rgba(76, 72, 62, 0.7799999714);
          font-family: PT Serif, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.325;
        }
        .ma-propre-faon-de-me-maquiller--sfy-sub-1 {
          color: rgba(56, 53, 46, 0.8500000238);
          font-family: Noto Serif KR, 'Source Sans Pro';
          font-size: 4.5rem;
          font-weight: 400;
          line-height: 1.435;
        }
        .ma-propre-faon-de-me-maquiller--sfy-sub-2 {
          color: #000000;
          font-family: Noto Serif KR, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.435;
        }
        .ma-propre-faon-de-me-maquiller--sfy-sub-3 {
          color: rgba(78, 75, 68, 0.9100000262);
          font-family: Noto Serif KR, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.435;
        }
      }
      .auto-group-s9x7-yPZ {
        background-color: #e8e5df;
        border: solid 0.1rem #3a3a3a;
        box-sizing: border-box;
        height: 13.8rem;
        left: 35.5rem;
        padding: 2.3rem 3.6rem;
        position: absolute;
        top: 108.1rem;
        width: 74.7rem;
  
        .item--5hV {
          color: #000000;
          font-family: Noto Serif KR, 'Source Sans Pro';
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.4370000203;
          max-width: 38.2rem;
  
          .item--5hV-sub-0 {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.435;
          }
          .item--5hV-sub-1 {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1.435;
          }
        }
      }
      .auto-group-5tzv-vV9 {
        background-color: #e8e5df;
        border: solid 0.1rem #3a3a3a;
        box-sizing: border-box;
        height: 13.8rem;
        left: 35.5rem;
        padding: 2.3rem 3.1rem;
        position: absolute;
        top: 84.3rem;
        width: 75rem;
  
        .item--3Js {
          color: #000000;
          font-family: Noto Serif KR, 'Source Sans Pro';
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.4370000203;
          max-width: 34.3rem;
  
          .item--3Js-sub-0 {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.435;
          }
          .item--3Js-sub-1 {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1.435;
          }
        }
      }
      .auto-group-lpes-hgF {
        align-items: center;
        display: flex;
        height: 38.3rem;
        left: 42.4rem;
        position: absolute;
        top: 5.7rem;
        width: 59.25rem;
  
        .auto-group-zttw-2Cj {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: calc(100% - 19rem);
          margin: 8.2rem 2.6rem 10.8rem 0rem;
  
          .item--MF1 {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.435;
            margin-bottom: 6.1rem;
            max-width: 8.8rem;
            text-align: center;
          }
          .item--SXM {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.435;
            margin: 0rem 0.2rem 2.9rem 0rem;
            text-align: center;
            white-space: nowrap;
          }
          .item--wU7 {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.435;
            margin-right: 0.2rem;
            max-width: 8rem;
            text-align: center;
          }
        }
        .auto-group-fxp1-R8P {
          flex-shrink: 0;
          height: 100%;
          margin-right: 2.1rem;
          position: relative;
          width: 36.7rem;
  
          .image-16-x8K {
            height: 38.3rem;
            left: 4.5rem;
            object-fit: cover;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 27.4rem;
          }
          .arrow-9-ga7 {
            height: 0;
            left: 26.3rem;
            object-fit: contain;
            position: absolute;
            top: 8rem;
            vertical-align: top;
            width: 10.4rem;
          }
          .arrow-10-cCs {
            height: 3.7rem;
            left: 23.2rem;
            object-fit: contain;
            position: absolute;
            top: 8rem;
            vertical-align: top;
            width: 3.1339rem;
          }
          .arrow-9-vDZ {
            height: 0;
            left: 21.8rem;
            object-fit: contain;
            position: absolute;
            top: 13.5rem;
            vertical-align: top;
            width: 14.7rem;
          }
          .arrow-10-4af {
            height: 2.3rem;
            left: 19.5rem;
            object-fit: contain;
            position: absolute;
            top: 13.5rem;
            vertical-align: top;
            width: 2.3202rem;
          }
          .arrow-13-Cgs {
            height: 0;
            left: 0;
            object-fit: contain;
            position: absolute;
            top: 19.3rem;
            vertical-align: top;
            width: 11.4rem;
          }
          .arrow-13-kTV {
            height: 4.2rem;
            left: 11.3566rem;
            object-fit: contain;
            position: absolute;
            top: 15.1rem;
            vertical-align: top;
            width: 3.5434rem;
          }
          .arrow-12-grw {
            height: 3.4rem;
            left: 12.0885rem;
            object-fit: contain;
            position: absolute;
            top: 9.4rem;
            vertical-align: top;
            width: 2.8115rem;
          }
          .arrow-11-S5R {
            height: 0;
            left: 0;
            object-fit: contain;
            position: absolute;
            top: 9.4rem;
            vertical-align: top;
            width: 12.1rem;
          }
          .arrow-14-nuy {
            height: 3.4rem;
            left: 14.0145rem;
            object-fit: contain;
            position: absolute;
            top: 20.5rem;
            vertical-align: top;
            width: 3.1855rem;
          }
          .arrow-13-8U3 {
            height: 0.3rem;
            left: 0.2rem;
            object-fit: contain;
            position: absolute;
            top: 23.6rem;
            vertical-align: top;
            width: 13.8rem;
          }
          .arrow-12-sRd {
            height: 2.9922rem;
            left: 21.4rem;
            object-fit: contain;
            position: absolute;
            top: 20.6rem;
            vertical-align: top;
            width: 3.2229rem;
          }
          .arrow-11-zm9 {
            height: 0;
            left: 24.6rem;
            object-fit: contain;
            position: absolute;
            top: 23.6rem;
            vertical-align: top;
            width: 11.9rem;
          }
        }
        .auto-group-r7s1-vuh {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: calc(100% - 20rem);
          margin: 6.7rem 0rem 13.3rem 0rem;
  
          .item--Fwy {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.435;
            margin: 0rem 0.25rem 2.9rem 0rem;
            text-align: center;
            white-space: nowrap;
          }
          .item--N11 {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.435;
            margin: 0rem 0rem 5.1rem 0.55rem;
            max-width: 8.5rem;
            text-align: center;
          }
          .item--eUK {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.435;
            margin-right: 4.05rem;
            max-width: 5rem;
            text-align: center;
          }
        }
      }
      .eye--vgj {
        color: #3a3a3a;
        font-family: PT Serif, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 700;
        height: 5.3rem;
        left: 38.2rem;
        line-height: 1.325;
        position: absolute;
        top: 76.3rem;
        white-space: nowrap;
        width: 8.5rem;
      }
      .lip--2jm {
        color: #3a3a3a;
        font-family: PT Serif, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 700;
        height: 5.3rem;
        left: 37.9rem;
        line-height: 1.325;
        position: absolute;
        top: 100.6rem;
        white-space: nowrap;
        width: 7.3rem;
      }
      .group-73-kQs {
        align-items: center;
        background-color: #3a3a3a;
        border-radius: 0.4185rem;
        color: #ffffff;
        display: flex;
        font-family: Noto Serif KR, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 700;
        height: 7.3rem;
        justify-content: center;
        left: 61.3rem;
        line-height: 1.435;
        position: absolute;
        top: 128rem;
        white-space: nowrap;
        width: 21.7rem;
      }
      .group-147-Cnf {
        height: 40.8rem;
        left: 25rem;
        position: absolute;
        top: 224.5rem;
        width: 94rem;
  
        .group-133-XK9 {
          height: 7.5rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 93.9rem;
  
          .about-ePm {
            color: #3a3a3a;
            font-family: PT Serif, 'Source Sans Pro';
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.325;
            margin-bottom: 0.1rem;
            white-space: nowrap;
          }
          .ai--MZ5 {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.435;
            max-width: 93.9rem;
          }
        }
        .group-134-Syq {
          align-items: flex-end;
          display: flex;
          height: 5.3rem;
          left: 0;
          position: absolute;
          top: 26.527rem;
          width: 63.6rem;
  
          .auto-group-su7h-mFR {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            margin-right: 10.1rem;
  
            .navigations-JWF {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: PT Serif, 'Source Sans Pro';
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.325;
              margin-bottom: 0.1rem;
              white-space: nowrap;
            }
            .face-manager--Z4o {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.435;
              white-space: nowrap;
            }
          }
          .face-detect-HmV {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.435;
            margin-right: 11.3rem;
            white-space: nowrap;
          }
          .pricing-CdZ {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.435;
            margin-right: 11.4rem;
            white-space: nowrap;
          }
          .q-a-8XD {
            color: #3a3a3a;
            flex-shrink: 0;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.435;
            white-space: nowrap;
          }
        }
        .line-26-GtK {
          background-color: #3a3a3a;
          height: 0.1rem;
          left: 0;
          position: absolute;
          top: 35.2rem;
          width: 94rem;
        }
        .copyright-kt-aivle-school-team-07-all-right-reserved-D2s {
          align-items: baseline;
          color: #3a3a3a;
          display: flex;
          font-family: Noto Serif KR, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 600;
          height: 2.2rem;
          left: 27.4rem;
          line-height: 1.4370000203;
          position: absolute;
          top: 38.6rem;
          white-space: nowrap;
          width: 40.2rem;
  
          .copyright-kt-aivle-school-team-07-all-right-reserved-D2s-sub-0 {
            color: #3a3a3a;
            font-family: PT Serif, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.325;
          }
          .copyright-kt-aivle-school-team-07-all-right-reserved-D2s-sub-1 {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.435;
          }
        }
        .group-135-GfM {
          height: 8.627rem;
          left: 0;
          position: absolute;
          top: 13rem;
          width: 17rem;
  
          .connect-with-us-QmZ {
            color: #3a3a3a;
            font-family: PT Serif, 'Source Sans Pro';
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.325;
            margin-bottom: 0.6rem;
            white-space: nowrap;
          }
          .auto-group-9zpd-wWb {
            align-items: center;
            display: flex;
            height: 5.027rem;
            margin-right: 5.1001rem;
            width: calc(100% - 5.1001rem);
  
            .group-68-fxP {
              background-color: #3a3a3a;
              border-radius: 0.8108rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 100%;
              margin-right: 1.846rem;
              padding: 1.459rem 1.405rem 1.405rem 1.459rem;
  
              .fi-instagram-br3 {
                height: 2.1621rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.1621rem;
              }
            }
            .group-69-KGF {
              flex-shrink: 0;
              height: 5.027rem;
              object-fit: contain;
              vertical-align: top;
              width: 5.027rem;
            }
          }
        }
        .group-146-TtF {
          height: 40.8rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 94rem;
  
          .group-133-oSK {
            display: flex;
            flex-direction: column;
            margin-bottom: 5.5rem;
  
            .about-m8F {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: PT Serif, 'Source Sans Pro';
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.325;
              margin-bottom: 0.1rem;
              white-space: nowrap;
            }
            .ai--6gK {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.435;
              max-width: 93.9rem;
            }
          }
          .group-135-Stb {
            margin-bottom: 4.9rem;
            width: 17rem;
  
            .connect-with-us-oDM {
              color: #3a3a3a;
              font-family: PT Serif, 'Source Sans Pro';
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.325;
              margin-bottom: 0.6rem;
              white-space: nowrap;
            }
            .auto-group-xtgx-jMu {
              align-items: center;
              display: flex;
              height: 5.027rem;
              margin-right: 5.1001rem;
              width: calc(100% - 5.1001rem);
  
              .group-68-UKV {
                background-color: #3a3a3a;
                border-radius: 0.8108rem;
                box-sizing: border-box;
                flex-shrink: 0;
                height: 100%;
                margin-right: 1.846rem;
                padding: 1.459rem 1.405rem 1.405rem 1.459rem;
  
                .fi-instagram-cAo {
                  height: 2.1621rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.1621rem;
                }
              }
              .group-69-wD5 {
                flex-shrink: 0;
                height: 5.027rem;
                object-fit: contain;
                vertical-align: top;
                width: 5.027rem;
              }
            }
          }
          .group-134-5q5 {
            align-items: flex-end;
            display: flex;
            height: 5.3rem;
            margin: 0rem 0rem 6.773rem 0rem;
  
            .auto-group-1moh-ca7 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              margin-right: 10.1rem;
  
              .navigations-a19 {
                color: #3a3a3a;
                flex-shrink: 0;
                font-family: PT Serif, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.325;
                margin-bottom: 0.1rem;
                white-space: nowrap;
              }
              .face-manager--WfV {
                color: #3a3a3a;
                flex-shrink: 0;
                font-family: Noto Serif KR, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.435;
                white-space: nowrap;
              }
            }
            .face-detect-eWo {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.435;
              margin-right: 11.3rem;
              white-space: nowrap;
            }
            .pricing-nsu {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.435;
              margin-right: 11.4rem;
              white-space: nowrap;
            }
            .q-a-LPd {
              color: #3a3a3a;
              flex-shrink: 0;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.435;
              white-space: nowrap;
            }
          }
          .copyright-kt-aivle-school-team-07-all-right-reserved-56K {
            align-items: baseline;
            color: #3a3a3a;
            display: flex;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.4370000203;
            margin-left: 27.4rem;
            white-space: nowrap;
  
            .copyright-kt-aivle-school-team-07-all-right-reserved-56K-sub-0 {
              color: #3a3a3a;
              font-family: PT Serif, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.325;
            }
            .copyright-kt-aivle-school-team-07-all-right-reserved-56K-sub-1 {
              color: #3a3a3a;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.435;
            }
          }
        }
      }
      .auto-group-6n4b-z6o {
        align-items: center;
        display: flex;
        height: 57rem;
        left: 20.6rem;
        position: absolute;
        top: 152.4rem;
        width: 105.8rem;
  
        .auto-group-nmvd-ujZ {
          flex-shrink: 0;
          height: 100%;
          margin-right: 3.7rem;
          position: relative;
          width: 32rem;
  
          .image-9-3as {
            height: 37.013rem;
            left: 1.6rem;
            object-fit: cover;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 28.5rem;
          }
          .rectangle-2082-BSB {
            background-color: rgba(247, 245, 239, 0.8999999762);
            height: 20rem;
            left: 1.5rem;
            position: absolute;
            top: 37rem;
            width: 28.5rem;
          }
          .skin-ud5 {
            color: rgba(94, 90, 81, 0.8000000119);
            font-family: PT Serif, 'Source Sans Pro';
            font-size: 3.5rem;
            font-weight: 700;
            height: 4.7rem;
            left: 4.2rem;
            line-height: 1.325;
            position: absolute;
            top: 38rem;
            white-space: nowrap;
            width: 7.1rem;
          }
          .esope--R5d {
            color: #3a3a3a;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            height: 5.1rem;
            left: 4.2rem;
            line-height: 1.4369999568;
            position: absolute;
            top: 44rem;
            width: 18.5rem;
  
            .esope--R5d-sub-0 {
              color: #3a3a3a;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.435;
            }
            .esope--R5d-sub-1 {
              color: #3a3a3a;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.435;
            }
          }
          .group-13-QLs {
            align-items: center;
            background-color: #3a3a3a;
            border-radius: 0.4185rem;
            color: #ffffff;
            display: flex;
            font-family: Noto Serif KR, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 700;
            height: 2.9rem;
            justify-content: center;
            left: 19.8rem;
            line-height: 1.435;
            position: absolute;
            top: 51.7rem;
            white-space: nowrap;
            width: 8.8rem;
          }
          .fi-chevron-right-FsH {
            height: 1.75rem;
            left: 29.9125rem;
            object-fit: contain;
            position: absolute;
            top: 45.275rem;
            vertical-align: top;
            width: 0.875rem;
          }
          .rectangle-2097-ncK {
            background-color: rgba(251, 244, 229, 0.6000000238);
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            height: 3.5rem;
            left: 28.5rem;
            position: absolute;
            top: 44.4rem;
            width: 3.5rem;
          }
          .fi-chevron-right-J4s {
            height: 1.75rem;
            left: 1.1125rem;
            object-fit: contain;
            position: absolute;
            top: 45.275rem;
            vertical-align: top;
            width: 0.875rem;
          }
          .rectangle-2098-2Wf {
            background-color: rgba(251, 244, 229, 0.6000000238);
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            height: 3.5rem;
            left: 0;
            position: absolute;
            top: 44.4rem;
            width: 3.5rem;
          }
        }
        .auto-group-eyrb-LnF {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.1rem;
          width: 31.8rem;
  
          .f206fe663197d6754afd4d1eda09a202-t35 {
            flex-shrink: 0;
            height: 37rem;
            margin-right: 0.11rem;
            object-fit: cover;
            vertical-align: top;
            width: 28.49rem;
          }
          .auto-group-hc8s-cDy {
            flex-shrink: 0;
            height: 20rem;
            position: relative;
            width: 100%;
  
            .rectangle-2083-Z9D {
              background-color: rgba(248, 245, 240, 0.8999999762);
              height: 20rem;
              left: 1.6rem;
              position: absolute;
              top: 0;
              width: 28.5rem;
            }
            .foundation-J6o {
              color: rgba(95, 90, 81, 0.8000000119);
              font-family: PT Serif, 'Source Sans Pro';
              font-size: 3.5rem;
              font-weight: 700;
              height: 4.7rem;
              left: 4.3rem;
              line-height: 1.325;
              position: absolute;
              top: 1rem;
              white-space: nowrap;
              width: 18.7rem;
            }
            .laura-mercer--zkK {
              color: #3a3a3a;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 7.9rem;
              left: 4.3rem;
              line-height: 1.4369999568;
              position: absolute;
              top: 6.9rem;
              width: 15.4rem;
  
              .laura-mercer--zkK-sub-0 {
                color: #3a3a3a;
                font-family: Noto Serif KR, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.435;
              }
              .laura-mercer--zkK-sub-1 {
                color: #3a3a3a;
                font-family: Noto Serif KR, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.435;
              }
            }
            .fi-chevron-right-SVq {
              height: 1.75rem;
              left: 29.7125rem;
              object-fit: contain;
              position: absolute;
              top: 8.275rem;
              vertical-align: top;
              width: 0.875rem;
            }
            .rectangle-2101-xj5 {
              background-color: rgba(251, 244, 229, 0.6000000238);
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              height: 3.5rem;
              left: 28.3rem;
              position: absolute;
              top: 7.4rem;
              width: 3.5rem;
            }
            .fi-chevron-right-USX {
              height: 1.75rem;
              left: 1.1125rem;
              object-fit: contain;
              position: absolute;
              top: 8.275rem;
              vertical-align: top;
              width: 0.875rem;
            }
            .rectangle-2103-ozb {
              background-color: rgba(251, 244, 229, 0.6000000238);
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              height: 3.5rem;
              left: 0;
              position: absolute;
              top: 7.4rem;
              width: 3.5rem;
            }
            .group-110-Kxw {
              align-items: center;
              background-color: #3a3a3a;
              border-radius: 0.4185rem;
              color: #ffffff;
              display: flex;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 700;
              height: 2.9rem;
              justify-content: center;
              left: 19.5rem;
              line-height: 1.435;
              position: absolute;
              top: 14.7rem;
              white-space: nowrap;
              width: 8.8rem;
            }
          }
        }
        .auto-group-nz9r-PT1 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          width: 32.2rem;
  
          .b15007c09a330334d892ef8a188b-vxj {
            flex-shrink: 0;
            height: 37rem;
            margin-right: 0.436rem;
            object-fit: cover;
            vertical-align: top;
            width: 28.564rem;
          }
          .auto-group-4uap-RuV {
            flex-shrink: 0;
            height: 20rem;
            position: relative;
            width: 100%;
  
            .rectangle-2084-AcB {
              background-color: rgba(248, 245, 240, 0.8999999762);
              height: 20rem;
              left: 1.6rem;
              position: absolute;
              top: 0;
              width: 28.5rem;
            }
            .color-VuM {
              color: rgba(95, 90, 81, 0.8000000119);
              font-family: PT Serif, 'Source Sans Pro';
              font-size: 3.5rem;
              font-weight: 700;
              height: 4.7rem;
              left: 5.1rem;
              line-height: 1.325;
              position: absolute;
              top: 1.3rem;
              white-space: nowrap;
              width: 8.5rem;
            }
            .wakemake--1Mu {
              color: #3a3a3a;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 7.9rem;
              left: 5.1rem;
              line-height: 1.4369999568;
              position: absolute;
              top: 6.5rem;
              width: 15.9rem;
  
              .wakemake--1Mu-sub-0 {
                color: #3a3a3a;
                font-family: Noto Serif KR, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.435;
              }
              .wakemake--1Mu-sub-1 {
                color: #3a3a3a;
                font-family: Noto Serif KR, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.435;
              }
            }
            .fi-chevron-right-Uuh {
              height: 1.75rem;
              left: 30.1125rem;
              object-fit: contain;
              position: absolute;
              top: 8.275rem;
              vertical-align: top;
              width: 0.875rem;
            }
            .rectangle-2102-cW7 {
              background-color: rgba(251, 244, 229, 0.6000000238);
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              height: 3.5rem;
              left: 28.7rem;
              position: absolute;
              top: 7.4rem;
              width: 3.5rem;
            }
            .fi-chevron-right-j4w {
              height: 1.75rem;
              left: 1.1125rem;
              object-fit: contain;
              position: absolute;
              top: 8.275rem;
              vertical-align: top;
              width: 0.875rem;
            }
            .rectangle-2104-GKm {
              background-color: rgba(251, 244, 229, 0.6000000238);
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              height: 3.5rem;
              left: 0;
              position: absolute;
              top: 7.4rem;
              width: 3.5rem;
            }
            .group-111-PQP {
              align-items: center;
              background-color: #3a3a3a;
              border-radius: 0.4185rem;
              color: #ffffff;
              display: flex;
              font-family: Noto Serif KR, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 700;
              height: 2.9rem;
              justify-content: center;
              left: 19.9rem;
              line-height: 1.435;
              position: absolute;
              top: 14.7rem;
              white-space: nowrap;
              width: 8.8rem;
            }
          }
        }
      }
    }
  }
  