@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700&display=swap');

body {
    background-color: #E8E5DF;
  }

.makeup-method-01{
position: absolute;
width: 658px;
height: 116px;
left: calc(50% - 658px/2);
top: 119px;
text-align: center;
}

.makeup-method-01_sub1{
font-family: 'Noto Serif KR';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;

color: #3A3A3A;
}

.makeup-method-01_sub2{
font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 53px;
line-height: 70px;

color: #3A3A3A;
}

.makeup-forme{
position: absolute;
height: 20px;
left: 583px;
top: 786px;
}

.makeup-forme-01{
font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */
  
  
color: rgba(77, 72, 62, 0.78);
}

.makeup-forme-02{
font-family: 'Noto Serif KR';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 65px;
  
color: rgba(57, 54, 47, 0.85);
  
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.makeup-forme-03{
font-family: 'Noto Serif KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.makeup-forme-04{
font-family: 'Noto Serif KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
  
color: rgba(79, 76, 68, 0.91);
  
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}